h1{
    color:black;
}
body{
    background-color:darkgray;
}
.jumbotron {
    background-image: url("../pics/wp4586060-aesthetic-space-wallpapers (1).jpg") ;
    background-size: cover;
    height: 100%;
  }